.cardDetail {
    position: relative;
    top: 50%;
    left: 15%;
    font-family: sans-serif;
}

    @media screen and (max-width: 500px ){
        .cardDetail {
            max-width:70%;
            max-height: 30%;
        }
        
    }

.botonAdd {
    background-color: darkgoldenrod;
}
hr {
    height: 20px;
    color: darkgoldenrod;
}